body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
    /*padding-top: 60px;*/
    /*padding-bottom: 40px;*/
}

.dropdown-menu {
    max-height: 400px;
    overflow: auto;
    width: 230px;
}

.list-item {
    padding-top: 6px;
    padding-left: 56px;
}

.no-reports {
    display: none;
}

body { 
    padding-top: 65px; 
}

h1 {
    color: #dddddd;
}

h2 {
    color: #dddddd;
}

h3 {
    color: #dddddd;
}

h5 {
    color: #dddddd;
}

iframe {
    display:block;
    margin-left: auto; margin-right: auto;
}