<div class="panel panel-default">
	<div class="panel-body" >
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Quote</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="inputEmail3" value="<%= quote %>">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Author</label>
			<div class="col-sm-6">
			<input type="text" class="form-control" id="inputPassword3" value="<%= author %>">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Sound url</label>
			<div class="col-sm-6">
			<input type="text" class="form-control" id="inputPassword3" value="<%= sound %>">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Picture url</label>
			<div class="col-sm-6">
			<input type="text" class="form-control" id="inputPassword3" value="<%= pic %>">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Viewed</label>
			<div class="col-sm-1">
			<input type="checkbox" class="form-control" id="inputPassword3" value="<%= viewed %>">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label"> </label>
			<div class="col-sm-6">
				<a id="saveBtn" class="btn btn-default" href="#preview/<%= spanId %>/<%= date %>"> Save </a>
			</div>
		</div>
	</form>
	</div>
</div>